.pro-export-sheet{

font-family:serif;
max-width:900px;
margin:auto;

}

.pro-export-sheet .portrait{

width:200px;
border:2px solid black;

}

.pro-export-sheet .spell-card{

border:1px solid black;
padding:10px;
margin:10px;

}
